.container1 {
    font-size: 40px;
    background: black;
    color: blue;
  }
  
  .container2{
    font-size: 40px;
    background: white;
    color : purple;
  }
  
  .container3{
    font-size: 40px;
    background: white;
    color : purple;
  }

  .container4{
    font-size: 40px;
    background: white;
    color : red;
  }